
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post">
    <div class="imgcontainer">
        <img src="~/Content/Images/logo.jpg" alt="Avatar" class="avatar" height="50" width="50">
    </div>
    <div>
        @TempData["Error"]
    </div>
    <div class="container">
        <br />
        <div>
            <label for="Name"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="Name" required>
        </div>
        <br />
        <div>
            <label for="Password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="Password" required>
        </div>
        <br />
        <div>
            <button type="submit">Login</button>
        </div>

    </div>

</form>